@font-face {
    font-family: Montserrat;
    src: url('../assets/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: Montserrat-light;
    src: url('../assets/Montserrat-Light.ttf');
}

body{
    font-family: Montserrat;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 65px;
    background-color: rgb(237, 237, 237);
}

.header h2{
    margin-left: 20px;
}

.header h2 span{
    color: red;
}

.mainpanel{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.mainpanel .left{
    width: 30%;
    height: 100%;
    border-right: rgb(190, 190, 190) 1px solid;
}

.mainpanel .right{
    width: 70%;
    height: 100%;
    
}

.item img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
    padding-left: 1em;
    padding-right: 0.8em;
    height: 60px;
}

.messageitem{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    width: 85%;
}

.item ._left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._left p, h3{
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(88, 88, 88);
}

._left p{
    font-size: 12px;
    font-weight: lighter;
    font-family: Montserrat-light;
}

._left h3{
    font-size: 1em;
}

._right #time{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    color: rgb(88, 88, 88);
    background-color: antiquewhite;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
}

.item ._right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

hr{
    width: 85%;
    height: 0.5px;
    border: none;
    background-color: rgb(220, 220, 220);
}

.number{
    width: 16px;
    height: 16px;
    background-color: rgb(255, 107, 107);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 2px;
}

.number p{
    margin: 2px;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
}

.right{
    width: 70%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.messagebody{
    width: 100%;
    max-height: 87%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
    margin-top: 5px;
    font-family: Montserrat-light;
    overflow-y: scroll;
    line-height: 25px;
    margin-bottom: 5px;
}

.messagebody .sent{
    max-width: 60%;
    background-color: aliceblue;
    align-self: flex-end;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 13px;
}

.messagebody .received{
    max-width: 60%;
    background-color: rgb(248, 243, 204);
    align-self: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 13px;
}
.right .chat{
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.chat textarea{
    align-self: flex-end;
    width: 95%;
    resize: none;
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 15px;
    font-family: Montserrat-light;
    padding-left: 10px;
    padding-top: 5px;
    
}

::placeholder{
    padding-top: 15px;
    padding-left: 10px;
}



